
.row {
    margin-right: -15px;
    margin-left: -15px;
}


[class*="yaya"], footer {
    border: 1px solid black;
    border-radius: 6px;
    line-height: 50px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 12px #555;

}

.container {
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.col-lg-offset-6 {
    margin-left: 50%;
}

.col-lg-offset-2 {
    margin-left: 2px;
}

